# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.env
env/
venv/
pip-log.txt

# Django
db.sqlite3
*.sqlite3

# Node
node_modules/
npm-debug.log*
yarn-error.log
pnpm-debug.log*

# Builds
dist/
build/
.out/
.next/
.nuxt/

# Logs & Temp
*.log
logs/
tmp/

# Firebase
.firebase/

# Docker
docker-compose.override.yml
.dockerignore

# Uploads
uploads/
public/static/
