# Core Dependencies
Django
django-cors-headers
django-rest-framework
neo4j
openai
python-dotenv
thulac
stanfordcorenlp
pypinyin
Pillow
djangorestframework-simplejwt
numpy
pandas
psycopg2-binary
gunicorn

# Development tools
black
flake8
pip-tools
