# Production environment variables
SECRET_KEY=change_me_prod
DEBUG=False

DB_ENGINE=django.db.backends.postgresql
DB_NAME=prod_db
DB_USER=prod_user
DB_PASSWORD=prod_password
DB_HOST=postgres
DB_PORT=5432

POSTGRES_DB=prod_db
POSTGRES_USER=prod_user
POSTGRES_PASSWORD=prod_password

NEO4J_URI=bolt://neo4j:7687
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=prod_neo4j_password
NEO4J_AUTH=neo4j/prod_neo4j_password

DASHSCOPE_API_KEY=your_dashscope_key
